:root{
    --main-color:#FFF;
    --title-color: #2D2F2F;
  --active-color: #8D4A00;
  --text-color:#5A5C5C;
  --hero-bg: radial-gradient(85.61% 61.6% at 50% 50%, rgba(253, 211, 77, 0.15) 0%, rgba(253, 211, 77, 0.00) 70%);
  --active-accent: 2px solid #FE973C;

}
body{
    font-family: "Space Grotesk", sans-serif;
    list-style: none;
}
.container{
    width: 1212px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid red;
}
.logo{
color: var(--title-color);
font-size: 24px;
font-weight: 900;
line-height: 1.33;
letter-spacing: -1.2px;
text-transform: uppercase;
}
.header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-list{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}
.header-item{
color: var(--text-color);
font-size: 14px;
font-weight: 400;
line-height: 1.42;
letter-spacing: -0.35px;
text-transform: uppercase;

}
.header-link{
color: var(--text-color);
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.42;
letter-spacing: -0.35px;
text-transform: uppercase;

}
.header-link:hover,
.header-link:focus
{
color: var(--active-color);

}
.header-link::after{
    content: "";
display: block;
width: 100%;
height: 2px;
background-color:  #FE973C;
opacity: 0;
}
.header-btn{
padding: 12px 32px;
border-radius: 9999px;
background: var(--active-color);
color: #FFF0E7;
text-align: center;
font-family: "Space Grotesk";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 1.33;
letter-spacing: 1.2px;
text-transform: uppercase;

}
/* секція hero */
.hero{
    padding-top: 160px;
    padding-bottom: 160px;
background-color: var(--hero-bg);
}
.hero .container{
    display: flex;
}
.hero-text{
    display: flex;
flex-direction: column;
justify-content: center;
color: #5C4900;
font-family: "Be Vietnam Pro";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 1.2px;
text-transform: uppercase;
display: flex;
padding: 6px 16px;
align-items: flex-start;
border-radius: 9999px;
background: #FDD34D;
width: 199.5px;
margin-bottom: 32px;
}
.hero-title{
    align-self: stretch;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 120px;
font-style: normal;
font-weight: 700;
line-height: 117px;
letter-spacing: -6.4px;
width: 670px;
margin-bottom: 32px;
}
.hero-span{
background: linear-gradient(90deg, #8D4A00 0%, #FE973C 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.hero-desk{
    display: flex;
flex-direction: column;
justify-content: center;
color: #5A5C5C;
font-family: "Be Vietnam Pro";
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 32px;
margin-bottom: 32px;
width: 576px;
}
.hero-btn{
    display: flex;
flex-direction: column;
justify-content: center;
color: #FFF0E7;
text-align: center;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 1.4px;
text-transform: uppercase;
display: flex;
padding: 20px 40px;
align-items: center;
gap: 12px;
border-radius: 9999px;
background: #8D4A00;
}
.hero-btn2{
color: var(--title-color);
text-align: center;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.42;
letter-spacing: 1.4px;
text-transform: uppercase;
display: flex;
padding: 21px 40px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 9999px;
border: 1px solid rgba(172, 173, 173, 0.20);
background: #FFF;

}
.hero-list{
list-style: none;
display: flex;
gap: 24px;
}

.hero-items{
list-style: none;
position: relative;
}
.hero-elem:first-child{
width: 465.3px;
height: 581.7px;
}
.hero-elem:last-child{
    width: 256.0px;
height: 256.0px;
position: absolute;
bottom: -50px;
left: -38px;

}
.answer .container{
    display: flex;
    align-items: center;
}

.answer-title{
    align-self: stretch;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: -3px;
width: 552.0px;
margin-bottom: 39px;
}
.answer-desk{
    display: flex;
flex-direction: column;
justify-content: center;
color: #5A5C5C;
font-family: "Be Vietnam Pro";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 32.5px;
width: 534.6px;
height: 131.0px;
margin-bottom: 39px;
}
.answer-text{
    display: flex;
padding: 9px 0 8px 32px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
border-left: 4px solid #FE973C;
display: flex;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px;
width: 485.3px;
margin-bottom: 39px;
}
.answer-txt{
    display: flex;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 1.4px;
text-transform: uppercase;
display: flex;

}
.answer-item::before{
    content: "";
    display: block;
    width: 32.0px;
height: 2.0px;
background: #FDD34D;

}
.answer-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 73px;
}
.answer-span{
    
display: flex;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32.5px;
border-bottom: 4px solid  #FDD34D;
}
.answer-img{
width: 552.0px;
height: 736.0px;
}